*~
service
*.o
*.pyc
*.swp
Makefile.bak
Makefile
Makefile.in
config.h
config.h.in
configure
python/Makefile
python/Makefile.in
src/Makefile
src/Makefile.in
src/wye-service
init/wye.service
libtool
ltmain.sh
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
src/.deps
wye-*.tar.gz
RPM
