*~
service
*.o
Makefile.bak
wye.pyc
Makefile
Makefile.in
config.h
config.h.in
configure
python/Makefile
python/Makefile.in
src/Makefile
src/Makefile.in
src/wye-service
aclocal.m4
autom4te.cache
config.log
config.status
src/.deps
wye-*.tar.gz
RPM
